.modal {
  h1 {
    color: $grey-color;
    font-size: 5rem;
    font-family: $hand-font;

    span {
      color: $blue-color;
    }
  }

  &--diamond {
    position: absolute;
    top: calc(50% - 175px);
    right: 200px;
    transform: rotate(45deg);
    width: 350px;
    height: 350px;
    border-style: double;
    border-width: 10px;
    border-color: $yellow-color;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      // get a fun font for this
      text-align: center;
      transform: rotate(-45deg);
    }
  }
}

      

@keyframes gradient {
  0% {
    background: #e8f7f7;
  }
  10% {
    background: #d0f0ef;
  }
  20% {
    background: #b6e7e6;
  }
  30% {
    background: #99dedd;
  }
  40% {
    background: #78d3d2;
  }
  50% {
    background: #51c7c5;
  }
  60% {
    background: #49b4b2;
  }
  70% {
    background: #409e9c;
  }
  80% {
    background: #358381;
  }
  90% {
    background: #265e5d;
  }
  100% {
    background: #21504f;
  }
}