.modal {
  h1 {
    color: $grey-color;
    font-size: rem-calc(80); 
    font-family: $hand-font;
    letter-spacing: 5px;
    margin-left: 20px;

    span {
      color: $blue-color;
    }
  }

  &--diamond {
    position: absolute;
    top: calc(45% - 150px);
    right: 200px;
    transform: rotate(45deg);
    width: 300px;
    height: 300px;
    border-style: double;
    border-width: 10px;
    border-color: $yellow-color;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      // get a fun font for this
      font-family: $serif-font;
      font-size: rem-calc(48);
      font-weight: bold;
      text-align: center;
      transform: rotate(-45deg);
    }
  }

  &--byline {
    font-family: $serif-font;
    font-size: rem-calc(24);
    margin-left: 20px;
    
    p {
      display: inline;
    }
  }
}